
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-lg-6">
                      <h4 class="card-title ">Category</h4>
                    </div>
  
                    <div class="col-md-6">
                      <a class="btn btn-primary" href="/products/create">Add Product</a>
                    </div>
                  </div>
                 
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Category
                        </th>
                        <th>
                          Sub Category
                        </th>
                        <th>
                          Action
                        </th>
                      </thead>
                      <tbody>
                      <%products.forEach((item,key)=>{%>
                        <tr>
                          <th scope="row"><%= ++key%></th>
                          <td><%=item.name%></td>
                          <td><%=item.Categore.name%></td>
                          <td><%=item.sub_category.sub_cat_name%></td>
                           <td>
                          <a href="/products/edit/<%= item.id %>" class="btn btn-info">Edit</a> || <a href="/products/delete/<%= item.id %>" class="btn btn-danger">Delete</a>
                        </td>
                        </tr>
                      <%})%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>